@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap");
$headings-font-family: "Nanum Gothic", sans-serif;

$primary: #22a1ed;
$dark: #04040c;
$headings-color: #284876;
$card-bg: #fcfcfc;
